* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
  text-align: center;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

#play-again {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  padding: 1rem 1.5rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.4rem;
  top: 2rem;
  right: 2rem;
}

.again {
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 480px) { 
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-bottom: 6rem;

    height: auto;
    position: unset;
  }

  h1 {
    font-size: 3.5rem;
  }

  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main * {
    font-size: 1.5rem;
  }

  .left,
  .right {
    width: auto;
  }

  .left {
    margin-top: .1rem;
  }

  .right {
    margin-top: 5rem;
  }

  #play-again {
    padding: 3rem 2rem 1rem 2rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    align-items: center;
  }

  .number {
    position: unset;
    bottom: 0;
    left: 0;
    transform: none;
    align-self: center;

    margin-top: 1.5rem;
  }

  .btn {
    padding: 1rem 1.5rem;
  }

  .between {
    font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .number {
    background: #eee;
  }

  .guess {
    border-color: #eee;
  }
  
  .btn {
    background-color: #eee;
  }
  
  .btn:hover {
    background-color: #ccc;
  }
}
